/* Global Styles */
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

/* Section Styles */
section {
    padding: 30px 0;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.project h3 {
    color: #333;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.twitter-tweet {
    margin: 0 auto;
}
